<mat-card class="mt-1">
  <mat-card-content class="card-content">
    <!-- Thumbnail -->
    <section *ngIf="recipe.imagesAsBase64.length > 0" class="card-content__thumbnail-container">
      <img class="card-content__thumbnail-container__thumbnail" [src]="recipe.imagesAsBase64[0]" />
    </section>

    <!-- Title, Type, and Ingredients -->
    <section class="card-content__body">
      <h2 class="card-content__body__title">
        {{ recipe.title }}
      </h2>

      <span class="mat-caption"
        >Zubereitung in <strong>{{ recipe.preparationTimeInMinutes }}</strong> Minuten mit
        <strong>{{ recipe.parameterizedIngredients.length }}</strong> Zutaten:</span
      >

      <ul>
        <li *ngFor="let ingr of recipe.parameterizedIngredients.slice(0, 4)">
          {{ ingr.ingredient }}
        </li>
        <li *ngIf="recipe.parameterizedIngredients.length === 5">
          {{ recipe.parameterizedIngredients[4].ingredient }}
        </li>
        <li *ngIf="recipe.parameterizedIngredients.length > 5">...</li>
      </ul>
    </section>
  </mat-card-content>
</mat-card>
