<ng-container *ngIf="recipe$ | async as recipe; else loadingTmpl">
  <div class="navbar">
    <div class="navbar__content grid-auto-1fr-auto">
      <button routerLink=".." mat-icon-button>
        <mat-icon class="material-icons-outlined">arrow_back_ios_new</mat-icon>
      </button>
      <span class="navbar__content__title">{{ recipe.title }}</span>
      <button routerLink="edit" mat-icon-button>
        <mat-icon class="material-icons-outlined">edit</mat-icon>
      </button>
    </div>
  </div>

  <div class="pt-7"></div>
  <div *ngIf="recipe.imageIds.length" class="mb-1">
    <app-image-slider [imageIds]="recipe.imageIds"></app-image-slider>
  </div>

  <!-- Ingredient Calculator -->
  <section class="mt-1">
    <h2>Zutatenrechner</h2>
    <app-ingredient-calculator [recipe]="recipe"></app-ingredient-calculator>
  </section>

  <!-- Preparation Steps -->
  <section class="mt-1">
    <h2>Zubereitung in {{ recipe.preparationTimeInMinutes }} Minuten:</h2>
    <pre>{{ recipe.note }}</pre>
  </section>
</ng-container>

<ng-template #loadingTmpl>
  <app-spinner></app-spinner>
</ng-template>
