<ng-container *ngIf="recipe$ | async; let recipe">
  <div class="navbar">
    <div class="navbar__content grid-auto-1fr-auto">
      <button [disabled]="!isAuthenticated" routerLink=".." mat-icon-button>
        <mat-icon class="material-icons-outlined">arrow_back_ios_new</mat-icon>
      </button>
      <span class="navbar__content__title">{{ recipe.title }}</span>
      <button [disabled]="!isAuthenticated" routerLink="edit" mat-icon-button>
        <mat-icon class="material-icons-outlined">edit</mat-icon>
      </button>
    </div>
  </div>

  <div class="pt-7"></div>
  <div *ngIf="recipe.imagesAsBase64.length > 0" class="mb-1">
    <slideshow
      height="200px"
      [showArrows]="false"
      [showDots]="recipe.imagesAsBase64.length > 1"
      [imageUrls]="recipe.imagesAsBase64"
    ></slideshow>
  </div>

  <!-- Ingredient Calculator -->
  <section class="mt-1">
    <h2 style="margin: 0">Zutatenrechner</h2>
    <app-ingredients [recipe]="recipe"></app-ingredients>
  </section>

  <!-- Preperation Steps -->
  <section class="mt-1">
    <h2 style="margin: 0">Zubereitung in {{ recipe.preparationTimeInMinutes }} Minuten:</h2>
    <pre style="white-space: pre-wrap">{{ recipe.note }}</pre>
  </section>
</ng-container>

<app-spinner *ngIf="isLoading"></app-spinner>
