<div
  (click)="!isLoading ? imageInput.click() : null"
  class="content"
  [class.notLoading]="!isLoading"
>
  <span></span>
  <div style="display: grid">
    <span *ngIf="!isLoading; else showLoading" class="material-icons-outlined">
      add_photo_alternate
    </span>
    <ng-template #showLoading>
      <mat-spinner [diameter]="25"></mat-spinner>
    </ng-template>
    <input
      #imageInput
      type="file"
      (change)="handleImageSelect(imageInput.files!)"
      style="display: none"
      multiple="multiple"
    />
  </div>
  <span></span>
</div>
