<div class="navbar">
  <div class="navbar__content grid-auto-1fr-auto">
    <button routerLink=".." mat-icon-button>
      <mat-icon class="material-icons-outlined">arrow_back_ios_new</mat-icon>
    </button>
    <span class="navbar__content__title">Passwort ändern</span>
    <button routerLink="edit" mat-icon-button style="visibility: hidden">
      <mat-icon class="material-icons-outlined">edit</mat-icon>
    </button>
  </div>
</div>

<form class="changepassword-form">
  <h2>Neues Passwort eingeben:</h2>
  <mat-form-field appearance="outline">
    <mat-label>Neues Passwort</mat-label>
    <input
      [(ngModel)]="newPassword"
      [ngModelOptions]="{ standalone: true }"
      matInput
      placeholder="Alligator4"
      autocomplete="off"
      spellcheck="false"
      [type]="isPasswordVisible ? 'text' : 'password'"
    />
    <button type="button" (click)="onToggleVisibility()" mat-icon-button matSuffix>
      <mat-icon>{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>
  </mat-form-field>

  <button
    [disabled]="!newPassword"
    class="mt-2"
    mat-raised-button
    color="primary"
    type="button"
    (click)="handleChangePassword()"
  >
    Ändern
  </button>
</form>
