<div class="navbar">
  <div class="navbar__content grid-auto-1fr-auto">
    <button routerLink=".." mat-icon-button>
      <mat-icon class="material-icons-outlined">arrow_back_ios_new</mat-icon>
    </button>
    <span class="navbar__content__title">Passwort ändern</span>
    <button routerLink="edit" mat-icon-button style="visibility: hidden">
      <mat-icon class="material-icons-outlined">edit</mat-icon>
    </button>
  </div>
</div>

<form class="changepassword-form">
  <mat-form-field appearance="outline">
    <mat-label>Neues Passwort</mat-label>
    <input
      [(ngModel)]="newPassword"
      [ngModelOptions]="{ standalone: true }"
      matInput
      placeholder="Alligator4"
    />
  </mat-form-field>
</form>
