mat-form-field {
  width: 100%;
  min-width: 0;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 130px;
  gap: 15px;
  align-items: center;
}

.images-container > * {
  height: 100%;
  position: relative;
}

.images-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: var(--image-box-shadow);
}

.images-delete-button {
  position: absolute;
  top: -11px;
  right: -11px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 25px;
}

.color-warn {
  color: #e74c3c;
}

.color-warn:hover {
  color: #c94435;
}

.ingredient-container {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr auto;
  align-items: center;
  gap: 10px;
}

.zubereitung {
  min-height: 150px;
}

.preparationtime-box {
  display: grid;
}

.ingredient-list-item {
  padding: 7px 0px !important;
  height: auto !important;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.ingredient-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
