<h1>Neues Rezept</h1>
<form>
  <mat-form-field appearance="outline">
    <mat-label>Rezeptname</mat-label>
    <input matInput placeholder="z.B. Spaghetti Bolognese" />
  </mat-form-field>

  <section class="mt-1">
    <h3>Zutaten</h3>

    <div class="ingredient-container">
      <mat-form-field appearance="outline">
        <mat-label>Menge</mat-label>
        <input type="number" min="0" matInput placeholder="0,1,..." />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Einheit</mat-label>
        <mat-select>
          <mat-option value="g">g</mat-option>
          <mat-option value="kg">lg</mat-option>
          <mat-option value="ml">ml</mat-option>
          <mat-option value="l">l</mat-option>
          <mat-option value="TL">TL</mat-option>
          <mat-option value="SL">SL</mat-option>
          <mat-option value="Prise">Prise</mat-option>
          <mat-option value="stck">stck</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Zutat</mat-label>
        <input matInput placeholder="Eier, Mehl, ..." />
      </mat-form-field>

      <button class="mat-form-field-wrapper" mat-icon-button><mat-icon>add</mat-icon></button>
    </div>

    <!-- <mat-selection-list #shoes>
      <mat-list-option *ngFor="let shoe of typesOfShoes">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list> -->

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Zubereitung</mat-label>
      <textarea class="zubereitung" rows="10" matInput placeholder="1. ...  2. ..."></textarea>
    </mat-form-field>

    <mat-label>Anspruch: </mat-label>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">Einfach</mat-button-toggle>
      <mat-button-toggle value="italic">Mittel</mat-button-toggle>
      <mat-button-toggle value="underline">Schwer</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-label>Zubereitungszeit (min): </mat-label>
    <mat-slider
      thumbLabel
      tickInterval="10"
      step="10"
      min="0"
      max="60"
      aria-label="units"
    ></mat-slider>
  </section>
</form>
