mat-form-field {
  width: 100%;
  min-width: 0;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 10px;
}

.images-container * {
  width: 100%;
}

.images-container img {
  border-radius: 5px;
  box-shadow: var(--image-box-shadow);
}

.ingredient-container {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr auto;
  align-items: center;
  gap: 10px;
}

.zubereitung {
  min-height: 200px;
}

.difficulty-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.preparationtime-box {
  display: grid;
}

.ingredient-list-item {
  padding: 7px 0px !important;
  height: auto !important;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header-grid h1 {
  margin: 0;
}

.ingredient-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
