mat-form-field {
  width: 100%;
  min-width: 0;
}

.ingredient-container {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr auto;
  align-items: center;
  gap: 10px;
}

.zubereitung {
  min-height: 200px;
}

.difficulty-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.slider-cookingtime {
  width: 100%;
}

.ingredient-list-item {
  padding: 7px 0px !important;
  height: auto !important;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 0 10px; */
}

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header-grid h1 {
  margin: 0;
}

.cooking-time-box {
  position: relative;
}

.cooking-time-box mat-label {
  position: absolute;
  left: 5px;
  top: 40px;
}
