.recipe-thumbnail {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

mat-card {
  padding: 10px;
}

mat-card-content {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 0 10px;
  height: 80px;
}

.recipe-thumbnail-container {
  height: inherit;
  position: relative;
}

.recipe-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
