<mat-card class="mt-2">
  <mat-card-content class="card-content">
    <div class="card-content__thumbnail-container">
      <img
        class="card-content__thumbnail-container__thumbnail"
        *ngIf="recipe.imagesAsBase64.length > 0; else NoImages"
        [src]="recipe.imagesAsBase64[0]"
      />

      <ng-template #NoImages>
        <img
          class="card-content__thumbnail-container__thumbnail--no-image"
          src="assets/images/recipe-thumbnail.png"
        />
      </ng-template>
    </div>

    <div>
      <div>
        <mat-card-title>{{ recipe.title }}</mat-card-title>
        <span class="mat-caption"
          ><strong>Hauptgericht</strong> von <strong>{{ recipe.author }}</strong> mit:
        </span>
      </div>
      <div class="mt-1">
        <app-chip
          *ngFor="let ingr of recipe.parameterizedIngredients"
          [text]="ingr.ingredient"
        ></app-chip>
      </div>
    </div>

    <button
      class="card-content__button-favorite"
      (click)="$event.stopPropagation(); $event.preventDefault(); handleFavorite()"
      mat-icon-button
    >
      <mat-icon *ngIf="recipe.isFavorite">favorite</mat-icon>
      <mat-icon *ngIf="!recipe.isFavorite">favorite_border</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
