.recipe-thumbnail {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

.recipe-placeholder {
  max-width: 100%;
  max-height: 100%;
}

mat-card {
  padding: 10px;
}

mat-card-content {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 0 10px;
  height: 80px;
}

.recipe-thumbnail-container {
  height: inherit;
}
