<mat-card class="example-card mt-2">
  <mat-card-content>
    <div style="display: grid; grid-template-columns: 100px 1fr; gap: 0 10px">
      <img [src]="recipe.imagesAsBase64" />

      <div>
        <div>
          <p class="mat-body-strong" style="margin: 0; padding: 0; font-size: 16px">
            {{ recipe.title }}
          </p>
          <span class="mat-caption">{{ recipe.author }}</span>
        </div>
        <div class="mt-1">
          <app-chip
            [text]="ingr.ingredient"
            *ngFor="let ingr of recipe.parameterizedIngredients"
          ></app-chip>
        </div>
      </div>
    </div>
    <div style="position: absolute; top: 10px; right: 10px">
      <button
        (click)="$event.stopPropagation(); $event.preventDefault(); handleFavorite()"
        mat-icon-button
      >
        <mat-icon *ngIf="recipe.isFavorite">favorite</mat-icon>
        <mat-icon *ngIf="!recipe.isFavorite">favorite_border</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
