<div class="header-with-logo" style="text-align: center">
  <h1 class="logo-font">Cookbook</h1>
  <img src="assets/icons/icon-72x72.png" alt="Cookbook Logo" />
</div>

<h2>Anmeldung</h2>
<app-alert
  type="error"
  [text]="'Benutzername oder Passwort falsch (' + wrongCredentialsCount + 'x).'"
  *ngIf="isCredentialsAlertVisible"
  (close)="isCredentialsAlertVisible = false"
></app-alert>

<form class="login-form">
  <mat-form-field appearance="outline">
    <mat-label>Benutzername</mat-label>
    <input
      [(ngModel)]="credentials.username"
      [ngModelOptions]="{ standalone: true }"
      matInput
      placeholder="Tobi"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Passwort</mat-label>
    <input
      [(ngModel)]="credentials.password"
      [ngModelOptions]="{ standalone: true }"
      matInput
      placeholder="Alligator3"
      type="password"
      (keyup.enter)="handleLoginClick()"
    />
  </mat-form-field>

  <button
    [disabled]="!credentials.password || !credentials.username"
    class="mt-2"
    mat-raised-button
    color="primary"
    (click)="handleLoginClick()"
  >
    Anmelden
  </button>
</form>
