.login-form {
  display: grid;
  grid-template-columns: 1fr;
  padding: auto;
}

.header-with-logo {
  width: 200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.header-with-logo img {
  width: 100px;
}

.logo-font {
  font-size: 33px !important;
}
