.login-form {
  display: grid;
  grid-template-columns: 1fr;
  padding: auto;
}

.header-with-logo {
  width: 200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 90px;
  text-align: center;
}

.logo-font {
  font-size: 35px !important;
}
