.login-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding: auto;
}

h1 {
  margin-top: 15vh;
}

.navbar__content {
  display: grid;
  align-items: center;
  text-align: right;
  padding: 0 20px;
}
