<div class="header-with-logo">
  <img src="assets/icons/rabbit-1.svg" alt="Cookbook Logo" />
  <h1 class="logo-font" style="margin-top: 10px">cookbook.</h1>
</div>

<h2>Anmeldung</h2>
<app-alert
  type="error"
  [text]="'Benutzername oder Passwort falsch (' + wrongCredentialsCount + 'x).'"
  *ngIf="isCredentialsAlertVisible"
  (close)="isCredentialsAlertVisible = false"
></app-alert>

<form class="login-form">
  <mat-form-field appearance="outline">
    <mat-label>Benutzername</mat-label>
    <input
      [(ngModel)]="credentials.username"
      [ngModelOptions]="{ standalone: true }"
      matInput
      placeholder="Tobi"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Passwort</mat-label>
    <input
      [(ngModel)]="credentials.password"
      [ngModelOptions]="{ standalone: true }"
      matInput
      placeholder="Alligator3"
      autocomplete="on"
      type="password"
      (keyup.enter)="handleLoginClick()"
    />
  </mat-form-field>

  <button
    [disabled]="!credentials.password || !credentials.username"
    class="mt-2"
    mat-raised-button
    color="primary"
    type="button"
    (click)="handleLoginClick()"
  >
    Anmelden
  </button>
</form>
