mat-form-field {
  width: 100%;
  min-width: 0;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 130px;
  gap: 5px;
  align-items: center;
}

.images-container > * {
  height: 100%;
  position: relative;
}

.images-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.images-container__icon-thumbnail {
  position: absolute;
  left: 5px;
  top: 3px;
  background: white;
  border-radius: 50px;
  opacity: 0.9;
}

.ingredient-form__inputs {
  display: grid;
  grid-template-columns: 1.5fr 2fr 4fr;
  gap: 0 10px;
}

.ingredients__header {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}

h2 {
  margin: 0;
  font-size: 15px !important;
}

.list-ingredient__item {
  padding: 7px 0px !important;
  height: auto !important;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(245, 245, 245);
}

.list-ingredient__item__ingredient-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.list-ingredient__item__ingredient-details__icon-delete {
  cursor: pointer;
  font-size: 25px;
}

.list-ingredient__item__ingredient-details__icon-delete:hover {
  color: rgb(67, 67, 67);
}

.textarea-note {
  min-height: 150px;
}

.preparationtime-container {
  display: grid;
}

mat-hint.small {
  font-size: 12px;
}
