<div class="p-1" *ngIf="recipe; else loading">
  <div class="navbar">
    <div class="navbar__content grid-auto-1fr-auto">
      <button (click)="handleCancelClick()" mat-icon-button>
        <mat-icon class="material-icons-outlined">close</mat-icon>
      </button>

      <span class="navbar__content__title">
        {{ isEditMode ? 'Rezept bearbeiten' : 'Rezept erstellen' }}
      </span>

      <button
        [disabled]="!recipe.title || !recipe.note || isLoading"
        color="primary"
        (click)="onSave()"
        mat-icon-button
      >
        <mat-icon class="material-icons-outlined">check</mat-icon>
      </button>
    </div>
  </div>

  <div class="pt-7"></div>

  <form>
    <h2>Wie heißt's?</h2>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        required
        [(ngModel)]="recipe.title"
        [ngModelOptions]="{ standalone: true }"
        matInput
        placeholder="z.B. Spaghetti Bolognese"
      />
      <mat-error align="end">Benötigtes Feld</mat-error>
    </mat-form-field>

    <!-- Images -->
    <h2>Wie sieht's aus?</h2>
    <div class="images-container">
      <div *ngFor="let image of imagesToDisplay">
        <img (click)="onImageClick(image)" [src]="image.dataAsBase64" />
        <span
          *ngIf="image.isThumbnail"
          class="material-icons-outlined images-container__icon-thumbnail"
        >
          star_outline
        </span>
      </div>
      <div [ngStyle]="{ 'grid-column': imagesToDisplay.length === 0 ? '1/3' : 'auto' }">
        <app-add-image (imageAdd)="handleImageAdded($event)"></app-add-image>
      </div>
    </div>

    <!-- Ingredients -->
    <section class="mt-2">
      <div style="margin-bottom: 5px" class="ingredients__header">
        <h2>Was ist drin?</h2>
        <span></span>
        <button
          [disabled]=""
          color="primary"
          mat-icon-button
          [disabled]="
            !currentIngredient.amount || !currentIngredient.name || !currentIngredient.measurement
          "
          mat-icon-button
          (click)="handleAddIngredientClick()"
        >
          <mat-icon class="material-icons-outlined">add</mat-icon>
        </button>
      </div>
      <div class="ingredient-form__inputs">
        <mat-form-field appearance="fill">
          <mat-label>Menge</mat-label>
          <input
            [(ngModel)]="currentIngredient.amount"
            [ngModelOptions]="{ standalone: true }"
            appClearOnFocus
            type="number"
            min="0"
            matInput
            placeholder="0,1,..."
            value="1"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Einheit</mat-label>
          <mat-select
            [(ngModel)]="currentIngredient.measurement"
            [ngModelOptions]="{ standalone: true }"
            value="Stk"
          >
            <mat-option value="g">g</mat-option>
            <mat-option value="kg">kg</mat-option>
            <mat-option value="ml">ml</mat-option>
            <mat-option value="l">l</mat-option>
            <mat-option value="TL">TL</mat-option>
            <mat-option value="Bund">Bund</mat-option>
            <mat-option value="EL">EL</mat-option>
            <mat-option value="Prise">Prise</mat-option>
            <mat-option value="Stk">Stk</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Zutat</mat-label>
          <input
            [(ngModel)]="currentIngredient.name"
            (keyup.enter)="handleAddIngredientClick()"
            [ngModelOptions]="{ standalone: true }"
            matInput
            placeholder="Eier, Mehl, ..."
          />
        </mat-form-field>
      </div>

      <mat-list *ngIf="recipe.ingredients.length > 0" class="list-ingredient mb-1" role="list">
        <div mat-subheader>Zutaten ({{ recipe.ingredients.length }})</div>
        <mat-list-item
          class="list-ingredient__item"
          role="listitem"
          *ngFor="let ingredient of recipe.ingredients"
        >
          <div class="list-ingredient__item__ingredient-details">
            <span>{{ ingredient.amount }} {{ ingredient.measurement }} {{ ingredient.name }}</span>
            <span
              aria-label="Remove ingredient"
              class="material-icons-outlined list-ingredient__item__ingredient-details__icon-delete"
              (click)="handleRemoveIngredientClick(ingredient)"
              >remove</span
            >
          </div>
        </mat-list-item>
      </mat-list>
      <!-- Portions -->
      <div>
        <mat-checkbox
          [(ngModel)]="isPortionsChecked"
          [ngModelOptions]="{ standalone: true }"
          color="primary"
          >Portionenbezogene Mengenangaben</mat-checkbox
        >
      </div>
      <mat-hint>
        <small>Die Zutatenmengen beziehen sich auf eine bestimmte Anzahl von Portionen</small>
      </mat-hint>
      <mat-form-field *ngIf="isPortionsChecked" appearance="fill" class="mt-1">
        <mat-label>Portionen (mit o.g. Zutaten)</mat-label>
        <input
          type="number"
          min="1"
          appClearOnFocus
          [(ngModel)]="recipe.portions"
          [ngModelOptions]="{ standalone: true }"
          matInput
        />
        <mat-error align="end">Portionen müssen mindestens für eine Person sein!</mat-error>
      </mat-form-field>
    </section>

    <h2 class="mt-1">Wie wird's gemacht?</h2>
    <mat-form-field appearance="fill">
      <mat-label>Zubereitung</mat-label>
      <textarea
        required
        [(ngModel)]="recipe.note"
        [ngModelOptions]="{ standalone: true }"
        class="textarea-note"
        matInput
        placeholder="- Gemüse schneiden"
      ></textarea>
      <mat-error align="end">Benötigtes Feld</mat-error>
    </mat-form-field>

    <!-- Preparation Time -->
    <div class="preparationtime-container">
      <h2>Wie lange dauert's?</h2>
      <span>
        Zubereitungszeit:
        <strong> {{ recipe.preparationTimeInMinutes }} Minuten</strong>
      </span>
      <mat-slider
        [value]="recipe.preparationTimeInMinutes"
        (input)="handlePreparationTimeChange($event.value)"
        step="5"
        min="0"
        tickInterval="1"
        [max]="90"
        color="primary"
      ></mat-slider>
    </div>

    <!-- Additional Information -->
    <section>
      <h2>Zusätzliche Informationen</h2>
      <!-- isPublic Checkbox -->
      <div>
        <mat-checkbox
          [(ngModel)]="recipe.isPublic"
          [ngModelOptions]="{ standalone: true }"
          color="primary"
          >Öffentlich</mat-checkbox
        >
      </div>
      <mat-hint>
        <small *ngIf="recipe.isPublic"
          >Das Rezept ist für andere Nutzer im <a href="#">Marktplatz</a> sichtbar und kann per Link
          geteilt werden.</small
        >
        <small *ngIf="!recipe.isPublic"
          >Das Rezept ist für andere Nutzer nicht sichtbar und kann nicht geteilt werden.</small
        >
      </mat-hint>
    </section>

    <div class="mt-2">
      <button
        *ngIf="isEditMode"
        class="w-100"
        (click)="handleDeleteClick()"
        type="button"
        mat-stroked-button
        color="warn"
      >
        Rezept löschen
      </button>
    </div>
  </form>
</div>

<ng-template #loading>
  <app-spinner text="Rezept wird geladen..."></app-spinner>
</ng-template>
