<div class="header-grid">
  <a routerLink="" mat-icon-button>
    <mat-icon>arrow_back_ios</mat-icon>
  </a>

  <h1>{{ recipe.title }}</h1>
</div>

<!-- slideshow (angular, html?) -->
<div class="mt-1 mb-1">
  <slideshow
    [height]="'225px'"
    [showArrows]="false"
    [showDots]="true"
    [imageUrls]="[
      'https://img.chefkoch-cdn.de/rezepte/1121671218451489/bilder/1378567/crop-600x400/pizza-salami-mit-knoblauch.jpg',
      'https://ais.kochbar.de/kbrezept/435538_1137799/1200x1200/spaghetti-napoli-rezept-bild-nr-2.jpg'
    ]"
  ></slideshow>
</div>

<div class="additional-infos-grid">
  <mat-icon class="material-icons-outlined">access_time</mat-icon>
  <span>{{ recipe.preparationTimeInMinutes }}min</span>
  <!-- TODO 2 grids, align-items:center -->
  <mat-icon class="material-icons-outlined">lightbulb</mat-icon>
  <span>{{ recipe.difficulty }}</span>
</div>

<mat-selection-list color="primary" #ingredients>
  <mat-list-option *ngFor="let ingredient of recipe.parameterizedIngredients">
    {{ ingredient.amount }} {{ ingredient.measurement }} {{ ingredient.ingredient }}
  </mat-list-option>
</mat-selection-list>

<p class="mat-h3">{{ recipe.note }}</p>

<a class="btn-edit" mat-fab color="primary">
  <mat-icon class="material-icons-outlined">edit</mat-icon>
</a>
