.additional-infos-grid {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  align-content: center;
  gap: 0 10px;
}

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.header-grid h1 {
  margin: 0;
}

.btn-edit {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
