<div class="header-grid">
  <a routerLink="" mat-icon-button>
    <mat-icon>arrow_back_ios</mat-icon>
  </a>

  <h1 class="text-center">{{ recipe.title }}</h1>

  <a mat-icon-button>
    <mat-icon class="material-icons-outlined">edit</mat-icon>
  </a>
</div>

<div *ngIf="recipe.imagesAsBase64.length > 0" class="mt-1 mb-1">
  <slideshow
    [height]="'225px'"
    [showArrows]="false"
    [showDots]="true"
    [imageUrls]="recipe.imagesAsBase64"
  ></slideshow>
</div>

<mat-chip-list>
  <mat-chip>
    <div class="mr-05 fs-2" style="display: flex; align-items: center; justify-content: center">
      <span class="material-icons-outlined">access_time</span>
    </div>
    {{ recipe.preparationTimeInMinutes }} min
  </mat-chip>
  <mat-chip *ngIf="recipe.author">
    <div class="mr-05 fs-2" style="display: flex; align-items: center; justify-content: center">
      <span class="material-icons-outlined">person</span>
    </div>
    {{ recipe.author }}
  </mat-chip>
</mat-chip-list>

<app-ingredients [recipe]="recipe"></app-ingredients>

<section class="mt-1">
  <h2>Zubereitung</h2>
  <p>{{ recipe.note }}</p>
</section>
