<div class="navbar">
  <div class="navbar__content grid-auto-1fr-auto">
    <div>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span></span>
    <div class="navbar__content">
      <div class="navbar__content__logo-container">
        <h1 class="logo-font logo-font-prefix">{{ user?.name | apostroph }}</h1>
        <h1 class="logo-font">Cookbook</h1>
      </div>
    </div>
  </div>
</div>
<mat-drawer-container autosize hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <div class="mat-drawer__logo-container">
      <img src="assets/icons/rabbit-1.svg" alt="Cookbook Logo" />
      <p class="logo-font">Cookbook</p>
      <p class="mat-caption">{{ version }}</p>
    </div>

    <div>
      <button class="w-100" (click)="handleLogoutClick()" mat-button>
        <mat-icon style="transform: rotate(180deg)">logout</mat-icon>
        Abmelden ({{ user?.name }})
      </button>
    </div>
        <a [routerLink]="['/change-password']" mat-menu-item>
          <mat-icon>password</mat-icon> Passwort ändern
        </a>
    <div class="mt-1">
      <a class="w-100" href="https://github.com/tw258/cookbook" target="blank" mat-button>
        Über Cookbook
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content class="p-1">
    <div class="pt-7"></div>

    <app-recipe-filter (filterInput)="handleFilterInput($event)"></app-recipe-filter>

    <ng-container *ngIf="recipes.length; else noRecipes">
      <ng-container *ngIf="filteredRecipes.length; else noRecipesWithFilter">
        <a *ngFor="let recipe of filteredRecipes" [routerLink]="['/recipes', recipe._id]">
          <app-recipe-card [recipe]="recipe"> </app-recipe-card>
        </a>
      </ng-container>
    </ng-container>

    <ng-template #noRecipes>
      <div class="text-center mat-body-strong mt-2">Noch keine Rezepte vorhanden.</div>
    </ng-template>

    <ng-template #noRecipesWithFilter>
      <div class="text-center mat-body-strong mt-2">Kein Rezept entspricht dem Filter.</div>
    </ng-template>

    <a class="btn-add-recipe" [routerLink]="['/new-recipe']" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </a>
  </mat-drawer-content>
</mat-drawer-container>
