.navbar__content {
  display: grid;
  align-items: center;
  text-align: right;
}

.btn-add-recipe {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.navbar__content__logo-container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 0 5px;
}

.logo-font {
  font-weight: 700 !important;
  font-size: 25px;
}

.logo-font-prefix {
  text-decoration-color: transparent;
  font-weight: 500 !important;
}
