html,
body {
  height: 100%;
  --image-box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  --card-box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  --navbar-box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  --primary: rgb(63, 81, 181);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body * {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h2 {
  font-size: 18px !important;
}

/*Browser overwrites */
a {
  color: var(--primary);
  text-decoration: none;
}

strong {
  font-weight: 500;
}

/*Logo font */
.logo-font {
  font-family: 'Caveat', cursive !important;
  font-weight: 600 !important;
  margin-bottom: 0 !important;
}

mat-card {
  box-shadow: var(--card-box-shadow) !important;
}

.slideshow-container {
  box-shadow: var(--image-box-shadow);
  border-radius: 3px !important;
}

.mat-list-option .mat-list-item-content {
  padding: 8px 16px !important;
}

.mat-list-option {
  height: auto !important;
}

/* Utility classes */
.container {
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.fs-2 {
  font-size: 20px;
}

.m-0 {
  margin: 0 !important;
}

.mt-05 {
  margin-top: 5px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mr-05 {
  margin-right: 5px;
}

.mr-1 {
  margin-right: 10px;
}

.pt-7 {
  padding-top: 70px;
}

.navbar {
  z-index: 5;
  background-color: rgb(250, 250, 250);
  box-shadow: var(--navbar-box-shadow);
  height: 55px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar__content {
  max-width: 700px;
  margin: auto;
  height: 100%;
  padding: 0 5px;
}

.navbar__content__title {
  margin: 0;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.grid-auto-1fr-auto {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 0 5px;
}
