<div class="mt-1">
  <div
    class="mat-h3 mb-0"
    style="display: grid; grid-template-columns: auto auto auto auto 1fr; align-items: center"
  >
    <span>Zutaten für</span>
    <button color="primary" style="margin: 0 5px" (click)="handleRemovePortion()" mat-icon-button>
      <mat-icon>remove</mat-icon>
    </button>
    <strong> {{ currentPortions }}</strong>
    <button color="primary" style="margin: 0 5px" (click)="handleAddPortion()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <span>Personen</span>
  </div>
  <mat-selection-list color="primary" #ingredients>
    <mat-list-option *ngFor="let ingredient of this._recipe.parameterizedIngredients">
      {{ ingredient.amount | multiplyPortions: _recipe.portions:currentPortions }}
      {{ ingredient.measurement }} {{ ingredient.ingredient }}
    </mat-list-option>
  </mat-selection-list>
</div>
