.ingredient-calculator {
  display: flex;
  justify-content: space-between;
}

.portions-grid {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  align-items: center;
}

.ingredient-text {
  margin-left: 10px;
  margin-right: 10px;
}
