html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Material overwrites */
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

mat-card-subtitle {
  margin-bottom: 0 !important;
}

/* Utility classes */
.container {
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 10px;
}
