html,
body {
  height: 100%;
  --image-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/*Logo font */
.logo-font {
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 25px;
}

/* Material overwrites */
.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

mat-card-subtitle {
  margin-bottom: 0 !important;
}

.slideshow-container {
  box-shadow: var(--image-box-shadow);
  border-radius: 3px !important;
}

.mat-list-option .mat-list-item-content {
  padding: 8px 16px !important;
}

.mat-list-option {
  height: auto !important;
}

a {
  text-decoration: none;
}

/* Utility classes */
.container {
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.fs-2 {
  font-size: 20px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}
.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mr-05 {
  margin-right: 5px;
}

mr-1 {
  margin-right: 10px;
}
