.container {
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
